.top-bar{
  background-color: $nav-brackground;
  ul{
      background-color: $nav-brackground;
  }
  .menu-text{
    color: $nav-text-color;
  }

  .active-link{
    font-weight: bold;
  }

}

.top-bar-right{
  .menu > li > a{
    display: inline-block;
  }
}
